.load-more {
    color: #ffffff;
    padding: 10px 14px;
    margin-bottom: 30px;
    background-color: #582dc5;
    border-radius: 4px;
    border: #24bea5;
}

.load-more.is-hidden {
    display: none;
}

.button.is-hidden {
    display: none;
}

.button > .spinner.is-hidden {
    display: none;
}

button:disabled {
    opacity: 0.3;
}
